@charset "utf-8";
body{
	font-family:punctuation, PingFangSC-Regular,"Microsoft YaHei","微软雅黑";
}
.header{
	margin-top: 16px;
	margin-bottom: 15px;
}

.hd_rt{
	
	font-size: 0;
}
.hd_rt a{
	vertical-align: bottom;
	font-size: 16px;
	color: #1570A5;
}
.tb{
	background: url(../images/phone_caidan.jpg) no-repeat;
	width: 22px;
	height: 18px;
	display: inline-block;
}
.tb1{
	margin-left: 5px;
	margin-right: 18px;
	margin-top: 5px;
}
.nav ul li{
	line-height: 40px;
	background-color: #1570A5;
	margin-bottom: 1px;
}
.nav ul li a{
	color: #fff;
	margin-left: 11px;
}
.nav .xiala{
	background-color: #fff;
	display: none;
	position: static;
	float:none;
	padding-left: 11px;
	box-sizing: border-box;
}
.banner img{
	width: 100%;
}
.banner .div{
	width: 100%;
	height: 140px;
	background-color: #1570A6;
	padding-left: 46px;
	padding-right: 64px;
	box-sizing: border-box;
	color: #1570A6;
}
.banner .div h2{
	font-size: 26px;
	color: white;
	margin-bottom: 5px;
}
.banner .div p{
	color: white;
}
.banner .div a{
	color: white;
}
.banner ul li p{
	margin-top: 10px;
	color: #1771A6;
}
.phone-ico{
	height: 280px;
}
.phone-ico ul li{
	float: left;
	margin-right: 70px;
	margin-top: 50px;
}
.phone-ico li p{
	font-size: 12px;
	color:#1486C2;
}
.phone-content{
	height: 450px;
	background-color: #1570A5;
	padding-top: 20px;
}
.phone-content .content1{
	background-color: rgba(0,0,0,.5);
	width: 380px;
	height: 314px;
}
.phone-content .content1 img{
	float: left;
	margin: 50px;
	margin-bottom: 0px;
	margin-top: 25px;
}
.phone-content p{
	padding-top: 25px;
	line-height: 26px;
	margin-left: 50px;
	color: white;
}
.phone-content h3{
	font-size: 30px;
	color: white;
	font-weight: normal;
	margin-left: 6px;
	margin-top: 14px;
}
.phone-content .p{
	color: white;
	padding-top:0px;
	margin-left: 6px;

}
.icon {
  width: 50px;
  height: 50px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.fotter{
	width: 1900px;
	position: relative;
}
.icon1 {
  width: 24px;
  height: 24px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.footer .ul>li{
	float: left;
	height: 20%;
	margin-right: 250px;
}
.footer .ul li .ul1{
	margin-right: -200px;
}
.cw{
	padding-left: 20px;
	padding-right: 20px;
}
.footer .ul>li h4{
	font-size: 14px;
	margin-top: 28px;
	margin-bottom: 16px;
}
.footer .ul span{
	color: black;
} 
.footer .ul>li .ul2>li{
	line-height: 35px;
} 
.footer .ul>li .title{
	margin-top: 28px;
	margin-bottom: 6px; 
	color: black;
}
.footer .ul>li ul>li{
	line-height: 24px;
	font-size: 14px;
	color: #1570A6;
}
.footer .ul>li .ul3{
	position: absolute;
	top:1820px;
	left:720px;

}
.footer .ul>li p{
	float: left;
	margin-top: 50px;
	color: #1570A6;
}
.footer .ul>li span{
	margin-top: 500px;
	margin-right: 22px;
}
.footer .ul>li .span{
	color: #1570A6;
}
.footer .ul>.li{
	margin-right: 0px;
}





.phone_hide{
	display: none;
}

.cw{
	padding-left: 13px;
	padding-right: 11px;

}